body{
    background-color: #EDEDED;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1.375rem;
    letter-spacing: 2.2px;
}

.introduction-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem auto;
    padding: 1rem;
    border: 3px solid black;
    border-radius: 2rem;
    background-color: #003153;
    width: fit-content;
}
.introduction-img{
    margin-right: auto;
    width: 18rem;
    height: 20rem;
    border-radius: 2rem;
}
.introduction-text{
    width: 50rem;
    color: white;
}
